body {
  margin: 0px;
  padding: 0px;
  background-image: url("https://cdn.discordapp.com/attachments/720491491994107935/720497784301682798/Background-loader.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#selector {
  width: 100%;
  height: 100%;
}

.fix {
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 10%;
  z-index: 5;
  color: #fff;
  font-family: "Segoe UI";
}

/* Text rules config */
.text {
  display: none;
  color: #fff;
  font-family: Lucida Sans Unicode;
  background-color: rgba(52, 152, 219, 0.3);
}

.fix p {
  font-size: 22px; /* Size text of the rules */
  margin-left: 3px;
  margin-top: 0px;
}

.fix h2,
.fix h3 {
  font-family: BankGothic;
  font-size: 40px;
  margin: 0px;
  color: #fff;
}

.loadbar {
  width: 100%;
  background-color: rgba(140, 140, 140, 0.9);
  height: 20px;
  margin-left: 2px;
  margin-right: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  overflow: hidden;
  position: relative;
  display: block;
}

.scroll {
  width: 10%;
  background-color: #eee;
  height: 20px;
  position: absolute;
  left: 0%;
}
